*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

.container{
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0px 2rem;
    border: 1px solid;
}

.main-heading{
    font-size: 4rem;
    margin: 2rem 0rem 1rem;
    text-align: center;
    color: white;
}

.form-class{
    margin: 2rem 0rem;
}

.form-control{
    display: flex;
    flex-direction: column;
}

.heading-field {
    margin: 1rem 0px 0.6rem;
}
  

.field-head {
    font-size: 2rem;
}

.input-div{
    margin-bottom: 1rem;
}

.field-input{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.radio{
    outline: none;
   
}
.help-text {
    font-size: 0.7rem;
    margin-top: 0.4rem;
    padding: 0.1rem;
}

.form-control input{
    font-size: 1.5rem;
    padding: 0.4rem 0px;
    text-indent: 0.5rem;
    border: none;
    outline: 1px solid #999;
    border-radius: 7px;
    width: 100%;
    color: #999;
}

button{
    text-align: center;
    font-size: 2rem;
    margin: 0px auto;
    display: inline-flex;
    color: wite;
    padding: 0.5rem 0.8rem;
    border: 1px solid white;
    background-color: #023de3;
    color: white;
    border-radius: 10px;
    box-shadow: 1px #0000;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
